nav.col-4.navbar.navbar-expand.navbar-dark.bg-primary.px-3.py-4
    div.container.px-2
        img.icon.navbar-brand.py-0.m-0(src="/app/assets/svg/logo.svg" height="24" alt="")
        div#navbarNav
            ul.navbar-nav.lh-1.gap-2
                li.nav-item
                    a.nav-link.py-0.active
                        img.icon.me-2(src="/app/assets/svg/people.svg" height="24")
                        small Контакты
                li.nav-item
                    a.nav-link.py-0
                        img.icon.me-2(src="/app/assets/svg/chat.svg" height="24")
                        small Сообщения
                li.nav-item
                    a.nav-link.py-0
                        img.icon.me-2(src="/app//assets/svg/person.svg" height="24")
                        small Профиль
