include mixins/navLink-mixin.pug

nav.col-xl-4.navbar.navbar-expand.navbar-dark.bg-primary.px-3.py-4
    div.container.px-2
        img.icon.navbar-brand.py-0.m-0(src="/app/assets/svg/logo.svg" height="24" alt="")
        div#navbarNav
            ul.navbar-nav.lh-1.gap-2
                li.nav-item
                    +navLink(page.isContacts, './index.html', 'people', 'Контакты')
                li.nav-item
                    +navLink(page.isChat, './chat.html', 'chat', 'Сообщения')
                li.nav-item
                    +navLink(page.isProfile, './profile.html', 'person', 'Профиль')
