nav.col-4.navbar.navbar-expand.navbar-dark.bg-primary
    div.container
        img.icon.navbar-brand.py-0.m-0(src="/app/assets/svg/logo.svg" width="15" height="24" alt="")
        div#navbarNav
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active
                        img.icon.me-2(src="/app/assets/svg/people.svg" width="25" height="24")
                        |Контакты
                li.nav-item
                    a.nav-link
                        img.icon.me-2(src="/app/assets/svg/chat.svg" width="25" height="24")
                        |Сообщения
                li.nav-item
                    a.nav-link
                        img.icon.me-2(src="/app//assets/svg/person.svg" width="25" height="24")
                        |Профиль
