- const page = { isContacts: true, isMessages: false, isProfile: false, isChat: false };
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="styles/app.css")
    body.body.vh-100.p-sm-4
        div.container-xxxl.h-100
            div.row.h-100.radius-sm.overflow-hidden.bg-white
                include sections/controller/controller.pug
                include sections/viewport.pug
