doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="styles/app.css")
    body.container-xxxl
        div.row
            include components/header/navbar.pug
            include components/aside/aside.pug
            include components/chat/chat.pug