doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="styles/app.css")
    body.vh-100.bg-light.p-4
        div.container-xxxl.rounded.limit.overflow-hidden.bg-white
            div.row
                include sections/navbar.pug
            div.row
                include sections/aside.pug
                include sections/chat.pug