div.col.col-xl-4.d-flex.flex-column.h-100.px-0
    include navbar/navbar.pug
    div.position-relative.overflow-hidden.h-100
        include tabs/contacts.pug
        include tabs/messages.pug
        include tabs/profile.pug