mixin navLinkContent(icon, text)
        img.icon.me-2(src=`/app/assets/svg/${icon}.svg` height="24")
        small= text

mixin navLink(active, path, icon, text)
    if active
        a.nav-link.py-0.active(href= path)
            +navLinkContent(icon, text)
    else 
        a.nav-link.py-0(href= path)
           +navLinkContent(icon, text)