div.h-100.d-flex.flex-column.justify-content-center.align-items-center
            img.rounded-circle.mb-3(src='./assets/images/avatar_1.jpg' width="200" height="200")
            h6.lh-base.fw-bold.m-0 Привет, Кодовёнок
            p.small.text-muted.m-0 Выбери чат, чтобы начать общаться