div.chat-header.d-flex.gap-4.border-bottom.px-3.py-4
  div.avatar-overlay
    img.avatar(src=`./assets/images/avatar_4.jpg`)
  div.contact-body.pe-xl-4.pe-3
      strong.contact-title.d-block.text-dark Вениамин Редакторович
      small.lh-base.contact-text.text-secondary Онлайн