form.position-relative.mx-xl-5
    input.form-control.shadow-none.border-0.border-top.p-4(type="text" placeholder="Напишите сообщение...")
    button.send-btn.btn.btn-primary.rounded-circle.p-4(type="submit")
        img.send-btn-img(src="./assets/svg/cursor.svg")