mixin message(text, time, isInc)
    div.message-body.border-bottom.mb-1
        if isInc
            h6.lh-base.fw-bold.mb-1 Вениамин Редакторович
            p.text-secondary.mb-2= text
        else
            p.text-white.mb-2= text
    if isInc 
        p.small.text-secondary.m-0= time
    else
        p.small.text-gray.m-0= time

mixin outcomingMessage(text, time)
    div.message.d-flex.gap-3.align-self-end
        img.d-none.d-xl-block.rounded-circle.align-self-end(src="./assets/images/avatar_1.jpg" height="45")
        div.bg-primary.radius.shadow-sm.p-4.pe-sm-4.pe-3
            +message(text, time, false)

mixin incomingMessage(text, time)
    div.message.d-flex.gap-3
        img.d-none.d-xl-block.rounded-circle.align-self-end(src="./assets/images/avatar_4.jpg" height="45")
        div.bg-light.radius.shadow-sm.p-4.pe-sm-4.pe-3
            +message(text, time, true)