include mixins/navLink-mixin.pug

div.justify-content-between.position-sm-static.fixed-bottom.w-100.order-md-first.navbar.navbar-expand.navbar-dark.bg-primary.p-4
    img.navbar-brand.py-0.m-0(src="./assets/svg/logo.svg" height="24" alt="")
    nav.navbar-nav.lh-1.gap-3
        if page.isChat
            a.nav-link.d-sm-none.py-0(href= './chat.html')
                +navLinkContent('chat-left-text', 'Чат')

        +navLink(page.isContacts, './index.html', 'people-white', 'Контакты')
        +navLink(page.isChat, './messages.html', 'chat', 'Сообщения')
        +navLink(page.isProfile, './profile.html', 'person', 'Профиль')
