include mixins/formContent-mixin.pug

form.mb-5
    label.form-label.d-none(for="search")
    if page.isContacts
        +formContent('Контакты', 'контактам')
    if page.isChat
        +formContent('Чаты', 'сообщениям')
    if page.isProfile
        +formContent('Профиль', 'сообщениям')