div.h-100.w-100.d-flex.justify-content-center
    div.greetings.d-none.d-xl-flex.flex-column.align-items-center.mb-3
            img.rounded-circle.mb-3(src='./assets/images/avatar_1.jpg' width="200" height="200")
            h6.lh-base.text-center.fw-bold.m-0.pt-1 Привет, Кодовёнок
            small.text-center.text-muted Выбери чат, чтобы начать общаться
