div.d-none.d-xl-flex.flex-column.align-items-center
    img.rounded-circle.mb-3(src='./assets/images/avatar_1.jpg' width="200" height="200")
    h6.lh-base.text-center.fw-bold.m-0 Привет, Кодовёнок
    sub.text-center.text-muted Выбери чат, чтобы начать общаться
