header.col-xl-4.h-100.p-0
    include components/navbar.pug
    unless page.isChat
        div.pt-5.px-3
                include components/search.pug
                include components/scroller.pug
    else
        div.pt-5.px-3.d-none.d-xl-block
            include components/search.pug
            include components/scroller.pug
        div.d-xl-none
            include ../viewport.pug