$utilities: map-merge($utilities,
(
    "border": (
        property: border,
        responsive: true,
        values: (
          null: $border-width solid $border-color,
          0: 0,
        )
      ),
      "border-top": (
        property: border-top,
        responsive: true,
        values: (
          null: $border-width solid $border-color,
          0: 0,
        )
      ),
      "border-end": (
        property: border-right,
        responsive: true,
        class: border-end,
        values: (
          null: $border-width solid $border-color,
          0: 0,
        )
      ),
      "border-bottom": (
        property: border-bottom,
        responsive: true,
        values: (
          null: $border-width solid $border-color,
          0: 0,
        )
      ),
      "border-start": (
        property: border-left,
        responsive: true,
        class: border-start,
        values: (
          null: $border-width solid $border-color,
          0: 0,
        )
      ),
      "radius": (
        property: border-radius,
        responsive: true,
        class: radius,
        values: (
            null: $custom-radius
        )
      ),
      "radius-left": (
        responsive: true,
        property: border-top-left-radius border-bottom-left-radius,
        class: radius-left,
        values: (
            null: $custom-radius
        )
      ),
      "radius-left-top": (
        responsive: true,
        property: border-top-left-radius,
        class: radius-left-top,
        values: (
            null: $custom-radius
        )
      ),
      "radius-left-bottom": (
        responsive: true,
        property: border-bottom-left-radius,
        class: radius-left-bottom,
        values: (
            null: $custom-radius
        )
      ),
      "radius-right": (
        responsive: true,
        property: border-bottom-right-radius border-top-right-radius,
        class: radius-right,
        values: (
            null: $custom-radius
        )
      ),
      "radius-right-top": (
        responsive: true,
        property: border-top-right-radius,
        class: radius-right-top,
        values: (
            null: $custom-radius
        )
      ),
      "radius-right-bottom": (
        responsive: true,
        property: border-bottom-right-radius,
        class: radius-right-bottom,
        values: (
            null: $custom-radius
        )
      ),
      "radius-top": (
        responsive: true,
        property: border-top-right-radius border-top-right-radius,
        class:radius-top,
        values: (
            null: $custom-radius
        )
      ),
      "radius-bottom": (
        responsive: true,
        property: border-bottom-right-radius border-bottom-right-radius,
        class: radius-bottom,
        values: (
            null: $custom-radius
        )
      ),
)
)