@import './avatar';

.contact {
    &-body {
        width: 79%;
    }

    &,
    &-title,
    &-text {
        transition: 0.3s;
    }

    &-title {
        line-height: 1.2;
    }

    &:hover {
        background-color: $primary;
        

        .contact-title {
            color: $light;
        }

        .contact-text {
            color: $gray-400;
        }
    }
}