@import "./tab";
@import "./greetings";
@import "./message";
@import "./chat-tab";
@import "./send-btn";


.body {
    background-color: rgba(229, 229, 229, .3);;
}

h2, .h2 {
    font-size: 2rem;
  }

@media screen and (max-width:1200px) {
    #current-chat {
        width: 100%;
    }    
}