a.contact.shadow-sm.px-3.py-4.mb-3(href="#") 
   div.avatar-overlay.me-4
     img.avatar(src=`/app/assets/${user.avatar}`)
   div.contact-body
      strong.contact-title= user.name
      small.contact-text= user.status