$nav-items: 'contacts', 'messages', 'profile';

@mixin choose($id) {
    ##{$id}:checked ~ .navbar label[for=#{$id}] {
        .item-text {
            color: $white;
        }
    }

    ##{$id}:checked ~ .form-search[data-form= #{$id}],
    ##{$id}:checked ~ .form-search[data-form= #{$id}] + .tab {
        display: block;
    }
    
}



@for $i from 1 through 3 {
    @include choose(nth($nav-items, $i))
}






