div.card.profile-card.border-0.mb-5.align-items-center
    img.card-img-top.profile-card-img.rounded-circle(src="/app/assets/images/avatar_1.jpg")
    div.card-body.profile-card-body.p-0
        h5.fw-bold.text-center.card-title.mb-4 Кодовёнок Хекслетович
        p.text-center.card-text  Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
