div.card
    img.card-img-top(src="/app/assets/images/avatar_1.jpg")
    div.card-body
        h5.card-title Кодовёнок Хекслетович
        p.card-text Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
